
<div class="container">
  <h1 class="text-center">Score</h1>
  <br>
  <div class="card mt-3">
    <h2 class="text-align m-2"><%= @result %></h2>
  </div>
  <%= link_to "Back to start", new_path %>
</div>
